.city-suggestion {
  display: flex;
  width: 100%;
  flex-direction: column;
  position: relative;

  &:not(:last-child) {
    margin-bottom: 20px;
  }

  &__row {
    display: flex;
    padding-right: 84px;
  }

  &__subcountry {
    margin-left: 5px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    &::before {
      content: '-';
      margin-right: 5px;
    }
  }

  &__button {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    background: #1dd1a1;
    border: 0;
    padding: 7px;
    border-radius: 4px;
    color: white;
    box-shadow: 3px 3px black;
    font-weight: bold;
    font-size: 1rem;

    &.red {
      background-color: #ee5253;
    }
  }

  &__name {
    font-size: 1rem;
  }

  &__country,
  &__subcountry {
    font-size: 0.8rem;
  }

  &__name,
  &__country,
  &__subcountry {
    white-space: nowrap;
  }
}
