.city-suggestion {
  display: flex;
  width: 100%;
  flex-direction: column;
  position: relative;

  &.left {
    .city-suggestion__row {
      padding-left: 87px;
      justify-content: flex-end;
    }

    .city-suggestion__button {
      left: 0;
    }
  }

  &:not(.left) {
    .city-suggestion__row {
      padding-right: 84px;
      justify-content: flex-start;
    }

    .city-suggestion__button {
      right: 0;
    }
  }

  &:not(:last-child) {
    margin-bottom: 20px;
  }

  &__row {
    display: flex;
  }

  &__subcountry {
    margin-left: 5px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    &::before {
      content: '-';
      margin-right: 5px;
    }
  }

  &__button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: #1dd1a1;
    border: 0;
    padding: 7px;
    border-radius: 4px;
    color: white;
    box-shadow: 3px 3px black;
    font-weight: bold;
    font-size: 1rem;
    outline: none;
    cursor: pointer;

    &.red {
      background-color: #ee5253;
    }

    &:disabled {
      cursor: default;
      background-color: #b6b6b6;
    }
  }

  &__name {
    font-size: 1rem;
  }

  &__country,
  &__subcountry {
    font-size: 0.8rem;
  }

  &__name,
  &__country,
  &__subcountry {
    white-space: nowrap;
  }

  &__loading {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 40px;
    width: 40px;
  }
}
